<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}" th:with="title='Areas'">
<th:block layout:fragment="content">

<h2>Areas</h2>

<table class="data">
	<tr>
		<th>Area Name</th>
		<th>Author</th>
		<th>Min Lv</th>
		<th>Max Lv</th>
		<th>Mobiles</th>
		<th>Items</th>
		<th>Rooms</th>
	</tr>
	<tr th:each="area : ${areas}">
		<td><a th:replace="~{link::area(${area})}"></a></td>
		<td th:text="${area.author}"></td>
		<td th:text="${area.softRange} ? ${area.softRange.min} : '-'"></td>
		<td th:text="${area.softRange} ? ${area.softRange.max} : '-'"></td>
		<td th:text="${area.mobs.?[exists == true].size()}"></td>
		<td th:text="${area.items.?[exists == true].size()}"></td>
		<td th:text="${area.rooms.size()}"></td>
	</tr>
</table>

</th:block>
</html>
