<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}" th:with="title=${area.name}">
<th:block layout:fragment="content">

<h2 th:text="${area.name}" class="area"></h2>

<table class="data gap">
	<tr>
		<td>Author</td>
		<td th:text="${area.author}">Author</td>
	</tr>
	<tr>
		<td>Suggested Level</td>
		<td th:text="${area.softRange.min + ' - ' + area.softRange.max}">Suggested level</td>
	</tr>
	<tr>
		<td>Level Limit</td>
		<td th:text="${area.hardRange.min + ' - ' + area.hardRange.max}">Level limit</td>
	</tr>
</table>

<h3>Mobiles</h3>

<table class="three-column gap">
	<tr th:each="row : ${@utils.partition(area.mobs.?[exists == true], 3)}">
		<td th:each="mob : ${row}">
			<a th:replace="~{link::mob(${mob})}"></a>
		</td>
	</tr>
</table>

<h3>Items</h3>

<table class="three-column gap">
	<tr th:each="row : ${@utils.partition(area.items.?[exists == true], 3)}">
		<td th:each="item : ${row}">
			<a th:replace="~{link::item(${item})}"></a>
		</td>
	</tr>
</table>

</th:block>
</html>
