<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}" th:with="title=${area.name}">
<th:block layout:fragment="content">

<table>
	<tr>
		<td>Level Range</td>
		<td th:text="${area.lowSoftRange + ' - ' + area.highSoftRange}">Level range</td>
	</tr>
	<tr>
		<td>Author</td>
		<td th:text="${area.author}">Author</td>
	</tr>
</table>

<h3>Mobiles</h3>

<table class="three-column">
	<tr th:each="row : ${@utils.partition(area.mobs.?[exists == true], 3)}">
		<td th:each="mob : ${row}">
			<a th:replace="~{link::mob(${mob})}"></a>
		</td>
	</tr>
</table>

<h3>Items</h3>

<table class="three-column">
	<tr th:each="row : ${@utils.partition(area.items.?[exists == true], 3)}">
		<td th:each="item : ${row}">
			<a th:replace="~{link::item(${item})}"></a>
		</td>
	</tr>
</table>

</th:block>
</html>
