<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}" th:with="title='Link Fragments'">
<th:block layout:fragment="content">

	<th:block th:fragment="progs (progs)">
		<h3 th:if="${!progs.isEmpty()}">Interactions</h3>
		<ul th:if="${!progs.isEmpty()}" class="unstyled-gap">
			<li th:each="prog : ${progs}">
				<span th:text="${prog.type.triggerLabel}">When slain</span>
				<span th:text="${'(' + prog.trigger + ')'}">(trigger conditions)</span>

				<!-- Prog's contained pops -->
				<ul th:if="${not #lists.isEmpty(prog.containedPops)}">
					<li th:each="pop : ${prog.containedPops}">
						<span th:text="${pop.containedDescription}">May produce</span>
						<a th:replace="~{link::to(${pop.item})}">item link</a>
						<span th:text="${': level ' + pop.itemLevel}">: level 8</span>
						<span th:if="${pop.isSold()}" th:text="${': ' + #numbers.formatInteger(pop.cost, 1, 'COMMA') + ' coins'}">1,399 coins</span>
					</li>
				</ul>

				<!-- Prog's contained spawns -->
				<ul th:if="${not #lists.isEmpty(prog.containedSpawns)}">
					<li th:each="spawn : ${prog.containedSpawns}">
						<span th:text="${spawn.containedDescription}">May produce</span>
						<a th:replace="~{link::to(${spawn.mob})}">mob link</a>
					</li>
				</ul>
			</li>
		</ul>
	</th:block>

</th:block>
</html>
