<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}" th:with="title=${item.title}">
<th:block layout:fragment="content">

<div class="two-col">
	<div class="two-col-header">
		<h2 th:text="${item.title}" th:class="${item.cssClass + ' inline'}"></h2>
		<a th:replace="~{link::to(${item.area})}"></a>
	</div>

	<div class="two-col-left">
		<table class="data">
			<caption>Item details</caption>
			<tr>
				<th scope="row">Description</th>
				<td th:text="${item.description}"></td>
			</tr>
			<tr>
				<th scope="row">Keywords</th>
				<td th:text="${item.keywords}"></td>
			</tr>
			<tr th:if="${!item.extraFlags.isEmpty()}">
				<th scope="row">Properties</th>
				<td th:text="${@utils.label(item.extraFlagsWithoutReq)}"></td>
		 	</tr>
		
			<th:block th:if="${item.isItem()}">
			<tr th:if="${!item.alignRequirements.isEmpty()}">
				<th scope="row">Req. Alignment</th>
				<td>
					<span th:class="${item.hasExtraFlag('ANTI_EVIL') ? 'invalid' : ''}">evil</span>
					<span th:class="${item.hasExtraFlag('ANTI_NEUTRAL') ? 'invalid' : ''}">neutral</span>
					<span th:class="${item.hasExtraFlag('ANTI_GOOD') ? 'invalid' : ''}">good</span>
				</td>
		 	</tr>
			<tr th:if="${!item.classRequirements.isEmpty()}">
				<th scope="row">Req. Class</th>
				<td>
					<span th:class="${item.hasExtraFlag('ANTI_WARRIOR') ? 'invalid' : ''}">warrior</span>
					<span th:class="${item.hasExtraFlag('ANTI_THIEF') ? 'invalid' : ''}">thief</span>
					<span th:class="${item.hasExtraFlag('ANTI_MAGE') ? 'invalid' : ''}">mage</span>
					<span th:class="${item.hasExtraFlag('ANTI_CLERIC') ? 'invalid' : ''}">cleric</span>
					<span th:class="${item.hasExtraFlag('ANTI_DRUID') ? 'invalid' : ''}">druid</span>
					<span th:class="${item.hasExtraFlag('ANTI_VAMPIRE') ? 'invalid' : ''}">vampire</span>
				</td>
		 	</tr>
			<tr>
				<th scope="row">Level</th>
				<td th:text="${item.level}"></td>
			</tr>
			<tr>
				<th scope="row">Weight</th>
				<td th:text="${@utils.formatAvg(item.weight / 10)}"></td>
			</tr>
			<tr>
				<th scope="row">Cost</th>
				<td th:text="${item.cost}"></td>
			</tr>
			</th:block>
		
			<tr>
				<th scope="row">Type</th>
				<td th:text="${item.subType}"></td>
			</tr>
		
			<th:block th:if="${item.isEquipment()}">
			<tr>
				<th scope="row">Wearable</th>
				<td th:text="${@utils.label(item.equipFlags)}"></td>
			</tr>
			<tr th:if="${item.isWeapon()}">
				<th scope="row">Damage</th>
				<td th:text="${item.damage}"></td>
			</tr>
			<tr th:if="${!item.weaponFlags.isEmpty()}">
				<th scope="row">Weapon Flags</th>
				<td th:text="${@utils.label(item.weaponFlags)}"></td>
			</tr>
			<tr th:if="${item.totalArmor?.average > 0}">
				<th scope="row">Armor</th>
				<td>
					<span th:text="${item.totalArmor}"></span>
					<span th:if="${!item.totalArmor.equalsValue(item.armor)}" th:text="${'(base ' + item.armor + ')'}"></span>
				</td>
			</tr>
			<tr th:if="${!item.applies.isEmpty()}">
				<th scope="row">Applies</th>
				<td th:text="${@utils.label(item.applies)}"></td>
			</tr>
			</th:block>

			<tr>
				<th scope="row">Summary</th>
				<td th:text="${item.summary}" th:title="${item.tooltip}"></td>
			</tr>

			<tr th:if="${item.isUsableKey()}">
				<th scope="row">Unlocks</th>
				<td>
					<ul class="unstyled">
						<li th:each="keyItem : ${item.keyItems}"><a th:replace="~{link::to(${keyItem})}">A container</a></li>
						<li th:each="keyDoor : ${item.keyDoors}">
							<span>An exit in</span>
							<span th:replace="~{link::to(${keyDoor})}">A room</span>
						</li>
					</ul>
				</td>
			</tr>
		
			<th:block th:if="${item.isContainer()}">
			<tr>
				<th scope="row">Capacity</th>
				<td th:text="${item.capacity}"></td>
			</tr>
			<tr>
				<th scope="row">Container Flags</th>
				<td th:text="${@utils.label(item.containerFlags)}"></td>
			</tr>
			<tr th:if="${item.key}">
				<th scope="row">Unlocked by</th>
				<td><a th:replace="~{link::to(${item.key})}"></a></td>
			</tr>
			</th:block>
		</table>
	</div>

	<div class="two-col-right">
		<h3>Location</h3>
		
		<ul class="unstyled-gap">
			<!-- Pops and their contained pops -->
			<li th:each="pop : ${item.sortedPops}">
				<span th:text="${pop.description}">Found in</span>
				<a th:replace="~{link::to(${pop.linkableOwner})}">containing object</a>
				<span th:text="${': level ' + pop.itemLevel}" th:if="${pop.itemLevel.average > 0}">level 0</span>
				<span th:if="${pop.isSold()}" th:text="${': ' + #numbers.formatInteger(pop.cost, 1, 'COMMA') + ' coins'}">1000 coins</span>
				<!-- Container contents -->
				<ul th:if="${item.isContainer()}">
					<li th:each="containedPop : ${pop.containedPops}">
						<span th:text="${containedPop.containedDescription}">Containing</span>
						<a th:replace="~{link::to(${containedPop.item})}">item</a>
					</li>
				</ul>
			</li>
		</ul>

		<div th:replace="~{include::progs(${item.progs})}"></div>
	</div>
</div>

</th:block>
</html>
