<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}" th:with="title='Mob Search'">
<th:block layout:fragment="content">

<h2>Mob Search</h2>

<form th:action="@{/mob-search}" th:object="${mobSearchForm}" method="post">
<button name="search" style="display: none;"></button>
<p th:if="${#fields.hasAnyErrors()}" class="errors">
	There were input errors, please correct them below.
</p>
<table class="form">
	<caption>Search parameters</caption>
	<tr>
		<th class="subheader" scope="col">Name</th>
		<th class="subheader" scope="col">Area</th>
		<th class="subheader" scope="col">Min Level</th>
		<th class="subheader" scope="col">Max Level</th>
		<th class="subheader" scope="col">Alignment</th>
		<th class="subheader" scope="col">Act</th>
	</tr>
	<tr>
		<td><input type="text" th:field="*{name}" th:errorclass="field-error" /></td>
		<td>
			<select th:field="*{area}">
				<option selected value="">any</option>
				<option th:each="area : ${areas}" th:value="${area.urlSafeName}" th:text="${area.name}"></option>
			</select>
		</td>
		<td><input type="text" th:field="*{minLevel}" maxlength="2" placeholder="0" class="numberBox" th:errorclass="field-error" /></td>
		<td><input type="text" th:field="*{maxLevel}" maxlength="2" placeholder="50" class="numberBox" th:errorclass="field-error" /></td>
		<td><span>&leq;</span> <input type="text" th:field="*{alignment}" maxlength="4" placeholder="&plusmn;1000" class="numberBoxW" th:errorclass="field-error" /></td>
		<td>
			<select th:field="*{actFlag}">
				<option selected value="">any</option>
				<option th:each="actFlag : ${actFlags}" th:value="${actFlag.name()}" th:text="${actFlag.label}"></option>
			</select>
		</td>
	</tr>
</table>
<table class="form">
	<caption>Experience parameters</caption>
	<tr>
		<th class="subheader" scope="col">Player Level</th>
		<th class="subheader" scope="col">Player Alignment</th>
		<th class="subheader" scope="col">Total Party Level</th>
		<th class="subheader" scope="col">Spawns</th>
		<th class="subheader" scope="col">Damage</th>
		<th class="subheader" scope="col">Threat</th>
		<th class="subheader" scope="col">Damage Type</th>
	</tr>
	<tr>
		<td><input type="text" th:field="*{playerLevel}" maxlength="2" placeholder="50" class="numberBox" th:errorclass="field-error" /></td>
		<td><input type="text" th:field="*{playerAlignment}" maxlength="5" placeholder="1000" class="numberBoxW" th:errorclass="field-error" /></td>
		<td><input type="text" th:field="*{totalPartyLevel}" maxlength="3" placeholder="150" class="numberBox" th:errorclass="field-error" /></td>
		<td><span>&geq;</span> <input type="text" th:field="*{spawnCount}" maxlength="3" class="numberBox" th:errorclass="field-error" /></td>
		<td><span>&leq;</span> <input type="text" th:field="*{damage}" maxlength="4" class="numberBoxW" th:errorclass="field-error" /></td>
		<td><span>&leq;</span> <input type="text" th:field="*{threat}" maxlength="8" class="numberBoxW" th:errorclass="field-error" /></td>
		<td>
			<select th:field="*{damageType}">
				<option selected value="">any</option>
				<option th:each="damageType : ${damageTypes}" th:value="${damageType.name()}" th:text="${damageType.label}"></option>
			</select>
		</td>
	</tr>
</table>
<table class="form">
	<caption>Commerce parameters</caption>
	<tr>
		<th class="subheader" scope="col">Coins</th>
		<th class="subheader" scope="col">Shopkeeper</th>
		<th class="subheader" scope="col">Buys</th>
	</tr>
	<tr>
		<td><input type="text" th:field="*{gold}" maxlength="6" placeholder="5000" class="numberBoxW" th:errorclass="field-error" /></td>
		<td>
			<select th:field="*{isShopkeeper}">
				<option selected value="">any</option>
				<option value="true">yes</option>
				<option value="false">no</option>
			</select>
		</td>
		<td>
			<select th:field="*{buysItem}">
				<option selected value="">any</option>
				<option th:each="itemType : ${itemTypes}" th:value="${itemType.name()}" th:text="${itemType.label}"></option>
			</select>
		</td>
	</tr>
</table>
<div class="actions">
	<button name="search">Search</button>
	<span>Sort:</span>
	<select th:field="*{format}">
		<option th:each="format : ${formats}" th:value="${format.name()}" th:text="${format.label}"></option>
	</select>
</div>
</form>

<h2>Search Results</h2>

<table class="data results">
	<caption></caption>
	<tr>
		<th class="number" scope="row">Level</th>
		<th scope="row">Mob Name</th>
		<th scope="row">Area Name</th>
		<th scope="row" class="number" th:if="${mobSearchForm.showCombat()}">eHP</th>
		<th scope="row" class="number" th:if="${mobSearchForm.showCombat()}">Dam/R</th>
		<th scope="row" class="number" th:if="${mobSearchForm.showCombat()}">Align</th>
		<th scope="row" class="number" th:if="${mobSearchForm.showCombat()}">Spawns</th>
		<th scope="row" th:if="${mobSearchForm.showShop()}">Buy Items</th>
		<th scope="row" class="number" th:if="${mobSearchForm.showShop()}">Sell Rate</th>
		<th scope="row" class="number" th:if="${mobSearchForm.showShop()}">Buy Rate</th>
		<th scope="row" class="number">Coins</th>
		<th scope="row" class="number" th:if="${mobSearchForm.showExp()}">Exp</th>
		<th scope="row" class="number" th:if="${mobSearchForm.showExp()}">Exp/HP</th>
		<th scope="row" class="number" th:if="${mobSearchForm.showCombat()}">Threat</th>
	</tr>
	<tr th:each="mob : ${mobs}">
		<td class="number" th:text="${mob.level}"></td>
		<td><a th:replace="~{link::to(${mob})}"></a></td>
		<td><a th:replace="~{link::area(${mob.area})}"></a></td>
		<td class="number" th:text="${@utils.formatQty(mob.ehp.average)}" th:if="${mobSearchForm.showCombat()}"></td>
		<td class="number" th:text="${#numbers.formatDecimal(mob.damagePerRound.average, 1, 1)}" th:if="${mobSearchForm.showCombat()}"></td>
		<td class="number" th:text="${mob.alignment}" th:if="${mobSearchForm.showCombat()}"></td>
		<td class="number" th:text="${mob.maxSpawnCount}" th:if="${mobSearchForm.showCombat()}"></td>
		<td th:text="${@utils.label(mob.purchasedTypes)}" th:if="${mobSearchForm.showShop()}"></td>
		<td class="number" th:text="${mob.sellPercent}" th:if="${mobSearchForm.showShop()}"></td>
		<td class="number" th:text="${mob.buyPercent}" th:if="${mobSearchForm.showShop()}"></td>
		<td class="number" th:text="${@utils.formatQty(mob.gold.average)}"></td>
		<td class="number" th:text="${@utils.formatQty(mobSearchForm.calcExp(mob))}"
				th:if="${mobSearchForm.showExp()}"></td>
		<td class="number" th:text="${@utils.formatAvg(mobSearchForm.getExpPerHp(mob))}"
				th:if="${mobSearchForm.showExp()}"></td>
		<td class="number" th:text="${@utils.formatAvg(mob.threat)}" th:if="${mobSearchForm.showCombat()}"></td>
	</tr>
</table>


</th:block>
</html>
