:root {
	--gap: 20px;
}

/**
 * Main layout
 */
html {
	background-color: #5b4b3e;
}

body {
	margin: 0;
	padding: 0;
}

header, nav, main, footer {
	width: 1100px;
	margin: 0 auto;
	padding: 0;
}

header {
	padding: var(--gap) 0;
}

header, nav, footer {
	background-color: black;
}

header h1 {
	color: white;
	text-align: center;
	padding: 0;
	margin: 0;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav li a, nav li a:visited {
	color: #ffffff;
	background-color: #000000;
	padding: 8px 16px;
	display: block;
}

nav li a:hover {
	background-color: #333;
}

main {
	width: 1060px;
	min-height: 800px;
	padding: 10px var(--gap);
	background-color: white;
}

.two-col {
	display: grid;
	grid-column-gap: var(--gap);
	grid-row-gap: var(--gap);
	grid-template-columns: calc(50% - var(--gap) / 2) calc(50% - var(--gap) / 2);
	grid-template-areas:
		"header header"
		"left right";
}

.two-col-header {
	grid-area: header;
}

.two-col-left {
	grid-area: left;
}

.two-col-right {
	grid-area: right;
}

/**
 * Main elements
 */
h2, h3, p {
	margin: 0 0 var(--gap) 0;
}

.gap {
		margin-bottom: var(--gap) !important;
}

.inline {
	display: inline;
	margin-right: var(--gap);
}

ul.unstyled {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.unstyled ul {
	list-style-type: none;
	margin-bottom: var(--gap);
	padding-left: var(--gap);
}

button {
	cursor: pointer;
}

.invalid {
	color: #c00;
	font-style: italic;
	text-decoration: line-through;
}

/**
 * Links
 */
a, a:visited {
	color: #b0530e;
	text-decoration: none;
}

.area {
	color: #b0530e;
}

.room {
	color: #888888;
}

.mob.non-aggressive {
	color: #ea7c10;
	/*color: #cc7a00;*/
}

.mob.aggressive {
	color: #ff2020;
}

.item.decoration {
	color: #ccbb00;
}

.item.equipment {
	color: #009933;
}

.item.object {
	color: #0052cc;
}

/**
 * General table
 */
tr.odd {
	background-color: #e2e2f5;
}

tr.even {
	background-color: #bdbdfb;
}

td.empty {
	background-color: #ccc;
}

table.equipment td:first-child {
	width: 125px;
}

table.equipment td {
	width: 170px;
}

/**
 * Data tables
 */
table.data {
	border: 2px solid #ccc;
	border-collapse: collapse;
}

table.data caption {
	display: none;
}

table.data tr:nth-child(odd) {
	background-color: #fff;
}

table.data tr:nth-child(even) {
	background-color: #eee;
}

table.data th, table.data td {
	padding: 4px 8px;
	text-align: left;
	vertical-align: top;
}

table.data tr td:first-child {
	padding-right: var(--gap);
}

/* Row-headers */
table.data th {
	vertical-align: center;
}

table.data td {
	vertical-align: top;
}

table.results tr:first-child {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

/**
 * Multi-column layout tables
 */
table.three-column {
	margin: 0 auto;
	width: 100%;
}

table.three-column td {
	width: 33%;
}

/**
 * Form tables
 */
table.form {
	border: 1px solid black;
	border-collapse: collapse;
	margin: 10px 0;
}

table.form caption {
	display: none;
}

table.form th, table.form td {
	padding: 4px 8px;
}

table.form th {
	background-color: #eee;
}

table.form th.subheader {
	background-color: #ddd;
	font-weight: normal;
	font-size: smaller;
}

input.numberBox {
	width: var(--gap);
}

input.numberBoxW {
	width: 40px;
}

.actions {
	margin: 10px 0;
}

.errors, .field-error {
	color: red;
}
